/* utils */
:host {
  @apply block;
  * {
    @apply font-sans text-left;
    box-sizing: border-box;
  }
}

.icon {
  @apply h-4;

  & svg {
    @apply block;
    @apply h-4;
  }

  &.lg {
    @apply h-6;

    & svg {
      @apply h-6;
    }
  }
}

.support {
  @apply bg-grey-100 border-t border-grey-700 flex px-4 py-8 w-full;
  border-top-style: solid;
}

.support--inner {
  @apply gap-0 grid grid-cols-1 mx-auto text-grey-500 w-full;
  max-width: 960px;

  @screen lg {
    @apply gap-4 grid-cols-4;
  }
}

.support-items {
  @apply col-span-1;
  @apply flex flex-col;

  @screen lg {
    @apply col-span-3 flex-row justify-between;
  }
}

.support--item {
  @apply flex items-center mb-4;
  @screen lg {
    @apply mb-0;
  }
}

.support--item-label {
  @apply flex flex-col leading-tight;
  font-size: 14px;
}

.support--label {
  @apply flex items-center justify-between mb-4 uppercase;
  font-size: 16px;

  @screen lg {
    @apply mb-0;
  }
}

.support--label-icon {
  @apply hidden;

  @screen lg {
    @apply flex;
  }
}

.ml1 {
  @apply ml-1;
}

.mr2 {
  @apply mr-2;
}
