:host {
  @apply block;
  * {
    @apply font-pt-sans;
    box-sizing: border-box;
  }
}

.header-account-menu--item {
  @apply flex flex-row items-center p-3 hover:bg-grey-200 transition ease-in-out rounded-sm;
}

.header-account-menu--title {
  @apply flex-grow text-base font-bold mx-4;
}

.header-account-menu--notification-info {
  @apply text-sm rounded-3xl flex items-center justify-center bg-orange-400 text-grey-100 h-7 w-7;
}

.header-account-help-center--item {
  @apply flex flex-row items-center px-3;
}

.header-account-help-center--content {
  @apply flex flex-col flex-grow mx-4 leading-4 text-base gap-y-2;
}

.header-account--membership-icon {
  @apply absolute;
  bottom: -2px;
  right: -2px;
}

.header-account--notification-indicator {
  @apply absolute top-0 h-2 w-2 bg-orange-400 rounded-full;
  right: -9px;
  top: -4.5px;
}

.header-account-sidebar {
  @apply w-76 bg-grey-100 shadow-lg;
  @apply flex flex-col font-pt-sans text-sm;
}

/* Custom Class */
.icon {
  &-xs {
    & svg {
      @apply h-3 w-3;
    }
  }

  &-sm {
    & svg {
      @apply h-4 w-4;
    }
  }

  &-md {
    & svg {
      @apply h-5 w-5;
    }
  }

  &-white {
    @apply text-grey-100;
    & svg {
      @apply fill-current;
    }
  }

  &-blue-600 {
    @apply text-blue-600;
    & svg {
      @apply fill-current;
    }
  }

  &-grey-600 {
    @apply text-grey-600;
    & svg {
      @apply fill-current;
    }
  }
}

.z-index-max {
  z-index: 99999;
}

.chevron-icon {
  transition: transform 0.2s ease-out;
}

.chevron-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.2s ease-out;
}

/* Custom Scrollbar for header */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0356a8;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0356a8;
}
