/* utils */
:host {
  @apply block;
  * {
    box-sizing: border-box;
  }
}

/* container */
.container {
  @apply flex;
  @apply w-full;
  height: 138px;

  @screen md {
    height: 126px;
  }
}

/* result */
.result {
  @apply border;
  @apply border-grey-400;
  @apply border-solid;
  @apply flex-1;
  @apply h-full;
  @apply overflow-hidden;
  @apply rounded;
}

.result--inner {
  @apply block;
  @apply flow-root;
  @apply h-full;
  @apply no-underline;
  @apply p-4;
  @apply w-full;

  border-left: solid 4px #FFCC00;
}

.result--inner__headline-label {
  @apply mb-2;
  @apply inline;
  @apply text-blue-500;
  @apply text-sm;

  &.dark {
    @apply text-blue-200;
  }
}
.result--inner__headline-title {
  @apply font-bold;
  @apply inline;
  @apply m-0;
  @apply text-base;
  @apply text-grey-600;
  @apply leading-tight;

  &.dark {
    @apply text-grey-100;
  }
}

.result--inner__thumbnail {
  @apply border;
  @apply border-solid;
  @apply border-grey-200;
  @apply bg-center;
  @apply bg-cover;
  @apply bg-no-repeat;
  @apply inline;
  @apply float-right;
  @apply ml-4;
  @apply rounded;

  height: calc((2/3) * 96px);
  width: 96px;

  @screen md {
    height: calc((2/3) * 144px);
    width: 144px;
  }
}



/* galat */
.error {
  @apply bg-red-200;
  @apply p-4;
  @apply rounded;
  @apply w-full;
}

.error--label {
  @apply font-bold;
  @apply mb-2;
  @apply mt-0;
  @apply mx-0;
  @apply text-base;
  @apply leading-tight;
}

.error--text {
  @apply my-0;
  @apply text-base;
}

/* dark mode */
