/* added manual */
.transparent-linear {
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to(#fff));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
}
.text-transition {
  @apply w-full;
  @apply h-20;
}
.bg-brand-1{
  background-color: #00559A;
}
.bg-orange-300{
  background-color: #FFA53F;
}
.bg-green-400{
  background-color: #6AC322;
}
button{
  user-select: none;
}
/* purge-css */
.relative{
    position:relative
}
.order-first{
    order:-9999
}
.mx-4{
    margin-left:1rem;
    margin-right:1rem
}
.mb-4{
    margin-bottom:1rem
}
.-mt-24{
    margin-top:-6rem
}
.inline{
    display:inline
}
.flex{
    display:flex
}
.inline-flex{
    display:inline-flex
}
.h-8{
    height:2rem
}
.w-full{
    width:100%
}
.flex-1{
    flex:1 1 0%
}
.flex-grow{
    flex-grow:1
}
.flex-col{
    flex-direction:column
}
.items-center{
    align-items:center
}
.justify-end{
    justify-content:flex-end
}
.justify-center{
    justify-content:center
}
.rounded-lg{
    border-radius:.5rem
}
.rounded{
    border-radius:.25rem
}
.border{
    border-width:1px
}
.border-grey-300{
    --tw-border-opacity:1;
    border-color:rgba(221,221,221,var(--tw-border-opacity))
}
.bg-grey-100{
    --tw-bg-opacity:1;
    background-color:rgba(255,255,255,var(--tw-bg-opacity))
}
.bg-blue-100{
    --tw-bg-opacity:1;
    background-color:rgba(225,240,255,var(--tw-bg-opacity))
}
.p-4{
    padding:1rem
}
.p-1{
    padding:.25rem
}
.px-4{
    padding-left:1rem;
    padding-right:1rem
}
.py-6{
    padding-top:1.5rem;
    padding-bottom:1.5rem
}
.py-8{
    padding-top:2rem;
    padding-bottom:2rem
}
.pb-2{
    padding-bottom:.5rem
}
.pb-3{
    padding-bottom:.75rem
}
.pl-4{
    padding-left:1rem
}
.pb-8{
    padding-bottom:2rem
}
.text-center{
    text-align:center;
}
.text-2xl{
    font-size:1.5rem;
    line-height:2rem
}
.text-base{
    font-size:1rem;
    line-height:1.5rem
}
.text-lg{
    font-size:1.125rem;
    line-height:1.75rem
}
.text-4xl{
    font-size:2.25rem;
    line-height:2.5rem
}
.font-bold{
    font-weight:700
}
.lowercase{
    text-transform:lowercase;
}
.capitalize{
    text-transform:capitalize;
}
.text-grey-100{
    --tw-text-opacity:1;
    color:rgba(255,255,255,var(--tw-text-opacity));
}
.text-grey-600{
    --tw-text-opacity:1;
    color:rgba(51,51,51,var(--tw-text-opacity));
}
.text-brand-1{
    --tw-text-opacity:1;
    color:rgba(0,85,154,var(--tw-text-opacity));
}
.underline{
    text-decoration:underline
}
.shadow-md{
    --tw-shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06)
}
.shadow,.shadow-md{
    box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}
.shadow{
    --tw-shadow:0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06)
}
/* media query */
.md\:flex {
  @screen md {
    @apply flex;
  }
}
.md\:w-1\/4 {
  @screen md {
    @apply w-1/4;
  }
}
.md\:w-3\/4 {
  @screen md {
    @apply w-3/4;
  }
}
.md\:w-auto {
  @screen md {
    @apply w-auto;
  }
}
.md\:text-xl{
  @screen md {
    @apply text-xl;
  }
}
.md\:text-center {
  @screen md {
    @apply text-center;
  }
}
.md\:pb-0 {
  @screen md {
    @apply pb-0;
  }
}
.md\:py-0 {
  @screen md {
    @apply py-0;
  }
}

.md\:px-8 {
  @screen md {
    @apply px-8;
  }
}

.md\:flex-row {
  @screen md {
    @apply flex-row;
  }
}
.lg\:flex-row {
  @screen lg {
    @apply flex-row;
  }
}
.lg\:order-none {
  @screen lg {
    @apply order-none;
  }
}

