/* utils */
:host {
  @apply block;
  * {
    @apply font-sans text-left;
    box-sizing: border-box;
  }
}

.default {
  @apply bg-grey-600 flex flex-col pb-12 pt-5 px-4 text-xs w-full;
}

.default--copyright {
  @apply flex mb-2 mr-2 text-grey-100;
  @screen lg {
    @apply mb-0;
  }
}

.default--inner {
  @apply flex flex-col mx-auto w-full;
  max-width: 960px;

  @screen lg {
    @apply flex-row;
  }
}

.default--menu {
  @apply flex;

  &.first {
    @apply flex-wrap mb-2;
    @screen lg {
      @apply mb-0;
    }
  }

  &.second {
    @screen lg {
      @apply ml-auto;
    }
  }
}

.default--menu-item {
  @apply border-r border-grey-100 flex no-underline px-1 text-grey-100;
  border-right-style: solid;

  &:last-child {
    border-right-style: none;
  }
}
